section, .comments {
    scroll-snap-type: y mandatory;
}

.comments{
    display: flex;
    flex-direction: column;

    .comment{
        display: flex;
        flex-direction: column;
        justify-self: start;
        align-self: start;

        border-bottom: 1px solid;
    }
}