form,
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1;
    vertical-align: baseline;
}

.form {
    position: relative;
    font-size: 100%;
}
fieldset {
    margin: 0 0 12px;
}
label {
    display: block;
    margin: 14px 0 4px;
    color: #0d0c22;
    font: bold 16px/24px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input.text-input {
    width: 100%;
    margin-right: 8px;
}
input.button {
    @extend .button;
    display: block;
    width: 100%;
    margin-top: 22px;
    max-width: 200px;
}

input:focus {
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
}
.password_div {
    display: flex;

    justify-content: center;
    align-items: center;
}

.form-submit {
    position: relative;
    box-sizing: border-box;
    height: 40x;
    width: 100%;
    padding: 10px 16px;
    transition: color 200ms ease;
    border: none;
    border-radius: 10px;
    outline: none;
    text-align: center;
    cursor: pointer;
    appearance: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.form-submit:hover {
    background-color: #e24c89;
    color: #fff;
}
