@import url("Root.scss");
$background-color-light: #FFFFFF;
$background-color-dark: #37306B;


.main {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 70vh;
    width: 100%;

    .box {
        margin: 0 auto;
        padding: 5vh 0;
        width: 70%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $background-color-light;

        // position: sticky;
        top: 0;
        z-index: 20;

        .image-box {
            z-index: 20;
            margin: 10px auto;
            height: 100%;
            width: 40%;
            transform: translateY(25%);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .content {
            transform: translateY(30%);
            z-index: 20;
            margin-left: 100px;
            width: 80%;
            backdrop-filter: blur(10px) brightness(0.5);
            font-size: 1.8rem;
            border-radius: 25px;
        }
    }
}

.main ::before {
    backdrop-filter: blur(10px);
    filter: brightness(0.5);
}

.space {
    display: flex;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, $background-color-dark 90%);
    position: relative;
    transform: translateY(-99%);
    backdrop-filter: blur(1px);
    height: 20vh;
    content: "Shivam sakore";
}

.comment-section{
    margin: 5vh auto;
    width: 70%;
    padding: 5vh 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}