$accent-color-light: #FCFFE7;
$accent-color-dark: #BAD7E9;

$accent-color-light1: #EB455F;
$accent-color-light-40: rgba(235, 69, 95, 0.4);
$accent-color-light-shadow: rgba(235, 69, 95, 0.1);

$accent-color-dark1: #2B3467;
$accent-color-dark1-40: rgba(43, 52, 103, 0.4);
$accent-color-dark1-shadow: rgba(43, 52, 103, 0.1);

$background-color-light: #FFFFFF;
$background-color-dark: #2B3467;

$text-color-light: #000000;
$text-color-dark: #FFFFFF;

$text-color-light1: #FFFFFF;
$text-color-dark1: #0d0c22;


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


$mode: light; // or dark, depending on your preference

body {
  background-color: if($mode == light, $background-color-light, $background-color-dark);
  color: if($mode == light, $text-color-light, $text-color-dark);
}

.accent {
  background-color: if($mode == light, $accent-color-light, $accent-color-dark);
  color: if($mode == light, $text-color-light, $text-color-dark);
}
